
/* demo 3.8.2021 */

body { font-family: ttlu;}
#demo {
    width: 1100px;
    margin: 50px auto;
}

.product__inner { display: flex; }
.product__image { width: 40%; }
.product__image img {
    width: 80%;
}

.add-to-cart {
    padding: 6px 12px;
    background: #1778d9;
    color: #fff;
}

.disabledClass {
    background: #ccc;
}

.cart { 
    text-align: right; 
    margin: 25px 0px 10px 0px;
}

.cart span { 
    border: 1px solid #ddd;
    padding: 10px; 
}
.color-box {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.disabledButton { background: #369; }

.product__review__form {
    border: 1px solid #ddd;
    padding: 20px;  
    width: 300px;
    margin-top: 20px;
}
.product__review__form p,
.product__review__form p input,
.product__review__form p textarea,
.product__review__form p select {
    width: 100%;
}
.container {
    width: 1000px;
    margin: 0 auto;
}

/* practice 4/8/2021 */

.tab {
    margin: 0px 10px 10px 0px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
}
.activeTab {
    color: #fff;
    background: #333;
}

.product-review {
    margin-top: 20px;
}

.mt-1 {
    margin-top: 1em;
}